    {{> html}}


<!-- Insert search bar -->
    {{> searchbar}}



 <!--  Insert Header -->
    {{> header}}

<div role="document" class="page-wrapper">
<main role="main">

<!-- Slider Section with Placeholder. Will need to make sure that slider dots are above the opacity layer in z-index!! -->
<section class="slider slot">
    <h2 class="block-title">Homepage Slider</h2>
    <div class="slider__background" style="background-image: url(img/mount-doom.jpg);">
    </div>
    <div class="slider__wrapper">
        <div class="slider__slide slide--mount-doom gridxx">
            <h2 class="article-title--lg">
                <a href="#">The Imprecise Search for Extraterrestrial Habitability</a>
            </h2>
            <h3 class="author-title is-reversed">
            Author Name
            </h3>
            <h4 class="tags"><span class="astronomy"><a href="channel-astronomy.html">Astronomy</a></span> <span>Extraterrestrial</span> Space</h4>
        </div>
    </div>
</section>

<!--END SLIDER-->

<section class="slot slotstyle--a clearfix">
    <div class="slot__background" style="background-image: url(img/thatsafire.jpg);">
    </div>
    <div class="slot__wrapper slot--thatsafire">
        <div class="slot__pane">
          <div class="slot__content">
             <h2 class="article-title--lg">
                <a href="article.html">Coexisting with Wildfire</a>
                  </h2>
                  <h3 class="author-title is-reversed">
                  Author Name
                  </h3>
                  <h4 class="tags"><span class="environment">Environment</span> <span>Wildfire</span> Natural Disasters</h4>
          </div>
        </div>
    </div>
</section>

<section class="slot slotstyle--b clearfix">
    <div class="slot__background" style="background-image: url(img/river.jpg);">
    </div>
    <div class="slot__wrapper">
        <div class="slot__pane">
        <div class="slot__content">
            <h2 class="article-title--lg">
                <a href="#">A River's Hidden Story</a>
            </h2>
            <h3 class="author-title is-reversed">
            Author Name
            </h3>
            <h4 class="tags"><span class="environment">Environment</span> <span>Laser-Mapping</span> Wilamette River</h4>
        </div>
        </div>
    </div>
</section>

<!--Placeholder for Issue Carousel" -->

<section class="carousel clearfix">
    <img src="img/carousel.jpg" alt="carousel">
</section>

<!-- END Carousel -->

<section class="slot slotstyle--full slot__tab--right clearfix">
    <div class="slot__background" style="background-image: url(img/meateaters.jpg); ">
    </div>
    <div class="slot__wrapper">
        <div class="slot__pane">
            <h2 class="article-title--lg">
                <a href="#">Meat-Eating Among the Earliest Humans</a>
            </h2>
            <h3 class="author-title is-reversed">
            Author Name
            </h3>
            <h4 class="tags"><span class="anthropology">Anthropology</span> <span>Evolution</span> Homosapiens</h4>
        </div>
    </div>
</section>

<section class="slot slotstyle--a clearfix">
    <div class="slot__background" style="background-image: url(img/brainscan.jpg);">
    </div>
    <div class="slot__wrapper">
        <div class="slot__pane">
        <div class="slot__content">
            <h2 class="article-title--lg">
                <a href="#">Angiogenesis, Aging, and Alzheimer's Disease</a>
            </h2>
            <h3 class="author-title is-reversed">
            Author Name
            </h3>
            <h4 class="tags"><span class="medicine">Medicine</span> <span>Angiogenesis</span> Alzheimer's Disease</h4>
        </div>
        </div>
    </div>
</section>

<section class="slot slotstyle--full slot__tab--left clearfix">
    <div class="slot__background" style="background-image: url(img/workers.jpg); ">
    </div>
    <div class="slot__wrapper">
        <div class="slot__pane">
            <h2 class="article-title--lg">
                <a href="#">The Road Ahead</a>
            </h2>
            <h3 class="author-title is-reversed">
            Author Name
            </h3>
            <h4 class="tags"><span class="engineering">Engineering</span> <span>Automotive</span> Technology</h4>
        </div>
    </div>
</section>

<section class="slot slotstyle--b clearfix">
    <div class="slot__overlay--sm" style="background: linear-gradient(to bottom, rgba(253,57,179,0.2) 0%,rgba(255,166,6,0.2) 100%); mix-blend-mode: multiply;"></div>
    <div class="slot__background" style="background-image: url(img/fisharmor.jpg);">
    </div>
    <div class="slot__wrapper">
        <div class="slot__pane">
        <div class="slot__content">
            <h2 class="article-title--lg">
                <a href="#">A Fish's Armor</a>
            </h2>
            <h3 class="author-title is-reversed">
            Author Name
            </h3>
            <h4 class="tags"><span class="biology">Biology</span> <span>Sculpin</span> X-Ray</h4>
        </div>
        </div>
    </div>
</section>

<!--Placeholder for Ad Band 1" -->
<section class="ad-band">
<img class="ad-band-img" src="img/geico-full.jpg">
</section>
<!-- END Ad Band -->

<section class="slot slotstyle--video clearfix">
    <div class="slot__background" style="background-image: url(img/jfk-full.jpg); width:2200px; filter: blur(8px); background-position: 0,0">
    </div>
    <div class="slot__wrapper">
        <div class="video__pane">
        <div class="video-overlay" style="background: linear-gradient(to bottom, rgba(116,252,14,.7) 0%,rgba(16,218,255,.7) 100%); mix-blend-mode: multiply;"></div>
        <a href="#">
            <img class="video-image" src="img/jfk-cover.jpg" alt="JFK">
        </a>

        </div>
        <div class="slot__pane">
        <div class="slot__content">
            <h2 class="video-title">
                <a href="#">A Lone Gunman? Using Statistics in Forensics</a>
            </h2>
            <h3 class="author-title is-reversed">
            Author Name
            </h3>
            <h4 class="tags"><span class="mathematics">Mathematics</span> <span>Statistics</span> Forensics</h4>
        </div>
        </div>
    </div>
</section>


<section class="slot slotstyle--topics clearfix">
    <div class="slot__background">

    <div class="slot__wrapper">
        <div class="topics__pane">
            <h2 class="topics--heading is-reversed">
                Topics
            </h2>

            <ul class="topics__list">
            <li class="topics__item">
            <svg class="topics__icon icon--agriculture">
            <use xlink:href="sprite/channels-sprite.svg#Agriculture"></use>
            </svg><span>Agriculture</span></li>

            <li class="topics__item">
            <svg class="topics__icon icon--anthropology">
            <use xlink:href="sprite/channels-sprite.svg#Anthropology"></use>
            </svg><span>Anthropology</span></li>

            <li class="topics__item">
            <svg class="topics__icon icon--art">
            <use xlink:href="sprite/channels-sprite.svg#Art"></use>
            </svg><span>Art</span></li>

            <li class="topics__item">
            <svg class="topics__icon icon--astronomy">
            <use xlink:href="sprite/channels-sprite.svg#Astronomy"></use>
            </svg><span>Astronomy</span></li>

            <li class="topics__item">
            <svg class="topics__icon icon--biology">
            <use xlink:href="sprite/channels-sprite.svg#Biology"></use>
            </svg><span>Biology</span></li>

            <li class="topics__item is-highlighted">
            <svg class="topics__icon icon--chemistry">
            <use xlink:href="sprite/channels-sprite.svg#Chemistry"></use>
            </svg><span>Chemistry</span></li>

            <li class="topics__item">
            <svg class="topics__icon icon--computer">
            <use xlink:href="sprite/channels-sprite.svg#Computer"></use>
            </svg><span>Computer</span></li>

            <li class="topics__item">
            <svg class="topics__icon icon--economics">
            <use xlink:href="sprite/channels-sprite.svg#Economics"></use>
            </svg><span>Economics</span></li>

            <li class="topics__item">
            <svg class="topics__icon icon--engineering">
            <use xlink:href="sprite/channels-sprite.svg#Engineering"></use>
            </svg><span>Engineering</span></li>

            <li class="topics__item">
            <svg class="topics__icon icon--environment">
            <use xlink:href="sprite/channels-sprite.svg#Environment"></use>
            </svg><span>Environment</span></li>

            <li class="topics__item">
            <svg class="topics__icon icon--ethics">
            <use xlink:href="sprite/channels-sprite.svg#Ethics"></use>
            </svg><span>Ethics</span></li>

            <li class="topics__item">
            <svg class="topics__icon icon--evolution">
            <use xlink:href="sprite/channels-sprite.svg#Evolution"></use>
            </svg><span>Evolution</span></li>

            <li class="topics__item">
            <svg class="topics__icon icon--mathematics">
            <use xlink:href="sprite/channels-sprite.svg#Mathematics"></use>
            </svg><span>Mathematics</span></li>

            <li class="topics__item">
            <svg class="topics__icon icon--medicine">
            <use xlink:href="sprite/channels-sprite.svg#Medicine"></use>
            </svg><span>Medicine</span></li>

            <li class="topics__item">
            <svg class="topics__icon icon--physics">
            <use xlink:href="sprite/channels-sprite.svg#Physics"></use>
            </svg><span>Physics</span></li>

            <li class="topics__item">
            <svg class="topics__icon icon--policy">
            <use xlink:href="sprite/channels-sprite.svg#Policy"></use>
          </svg><span>Policy</span></li>

            <li class="topics__item">
            <svg class="topics__icon icon--psychology">
            <use xlink:href="sprite/channels-sprite.svg#Psychology"></use>
            </svg><span>Psychology</span></li>

            <li class="topics__item">
            <svg class="topics__icon icon--science-com">
            <use xlink:href="sprite/channels-sprite.svg#Science-Comm"></use>
          </svg><span>Science Communication</span></li>

            <li class="topics__item">
            <svg class="topics__icon icon--sociology">
            <use xlink:href="sprite/channels-sprite.svg#Sociology"></use>
            </svg><span>Sociology</span></li>

            <li class="topics__item">
            <svg class="topics__icon icon--technology">
            <use xlink:href="sprite/channels-sprite.svg#Technology"></use>
            </svg><span>Technology</span></li>
            </ul>
        </div>
        <div class="slot__pane" style="background-image: url(img/flame-bg.jpg); background-position: 0,100%;">
            <div class="slot__content">
            <h2 class="article-title--lg">
                <a href="#">A Computed Flame</a>
            </h2>
            <h3 class="author-title is-reversed">
            Author Name
            </h3>
            <h4 class="tags"><span class="chemistry">Chemistry</span> <span>Fuel</span> Diesel Engine</h4>
            </div>
        </div>
    </div>
      </div>
</section>


<!--Placeholder for Ad Band 2" -->

<section class="ad-band clearfix">
    <div class="img-border"></div>
    <img src="img/support-science.png" alt="Ad Suppoprt Science">

</section>

<!-- END Ad Band -->
</main>

<!--FOOTER-->

    {{> footer}}

</div> <!-- End Wrapper -->

<!--Scripts and Closing HTML-->

    {{> html-end}}
