 <footer class="footer clearfix" role="contentinfo">
      <h1 class="footer__site-name">American Scientist</h1>
      <div class="media media__subscribe">
          <div class="image-wrapper current-issue">
            <img src="img/home-issue.jpg" alt="American Scientist - Living with Fire">
          </div>
           <div class="media__content">
            <p class="media__copy">Explore new worlds in science and engineering with each full-color issue. </p>
            <ul class="media__list">
                <li class="media__item"><a href="#" class="media__button">Subscribe</a></li>
                <li class="media__item"><a href="#" class="media__button">Renew</a></li>
                <li class="media__item"><a href="#" class="media__button">Give a Gift</a></li>
                <li class="media__item"><a href="#" class="media__button">Donate</a></li>
            </ul>
           </div>
      </div>

        <ul class="navigation__socialmedia">
                <li class="socialmedia--Twitter"><a href="#">Twitter
                </a></li>

                <li class="socialmedia--Facebook"><a href="#"><span>Facebook</span>
                </a></li>

                <li class="socialmedia--Youtube"><a href="#"><span>Youtube</span>
                </a></li>

                <li class="socialmedia--GooglePlus"><a href="#"><span>GooglePlus</span>
                </a></li>

                <li class="socialmedia--LinkedIn"><a href="#"><span>LinkedIn</span>
                </a></li>
        </ul>

        <ul class="navigation__main">
                <li class="navigation--item"><a href="#">Topics</a></li>
                <li class="navigation--item"><a href="#">Departments</a></li>
                <li class="navigation--item"><a href="#">Features</a></li>
                <li class="navigation--item"><a href="#">Blogs</a></li>
                <li class="navigation--item"><a href="#">Video</a></li>
                <li class="navigation--item"><a href="#">Podcasts</a></li>
            </ul>
         <ul class="navigation__utility">
                <li class="navigation--item"><a href="about.html">About</a></li>
                <li class="navigation--item"><a href="#">Subscribe</a></li>
                <li class="navigation--item"><a href="#">Advertise</a></li>
                <li class="navigation--item"><a href="current-issue.html">Current Issue</a></li>
        </ul>
        <ul class="navigation__member">
                <li class="navigation--item"><a href="#">Log-In</a></li>
                <li class="navigation--item"><a href="#">Register</a></li>
        </ul>



         <div class="footer__utility clearfix">
             <h2 class="footer__society-name">A Publication of <br>
              <a href="https://www.sigmaxi.org/" target="_blank"><span>Sigma XI</span></a></h2>
             <p class="copyright">© 2016 Sigma Xi, The Scientific Research Society</p>
             </div>
    </footer>
