

        <div id="sidr" class="banner__nav-wrapper">
        <nav class="navigation" role="navigation">
            <a href="#" class="bmenu--close" onClick="jQuery.sidr('close', 'sidr');">
              <div class="nav--close">
              <div class="nav--header"> Close  </div>
            </div>
          </a>

            <ul class="navigation__main">
                <li class="navigation--item"><a href="#">Topics</a></li>
                <li class="navigation--item"><a href="#">Features</a></li>
                <li class="navigation--item"><a href="#">Blogs</a></li>
                <li class="navigation--item"><a href="#">Video</a></li>
                <li class="navigation--item"><a href="#">Podcasts</a></li>
            </ul>
            <ul class="navigation__utility">
                <li class="navigation--item"><a href="channel-magazine.html">Magazine</a></li>
                <li class="navigation--item"><a href="#">Subscribe</a></li>
                <li class="navigation--item"><a href="#">Newsletter</a></li>
                <li class="navigation--item"><a href="about.html">About Us</a></li>
            </ul>
            <ul class="navigation__member">
                <li class="navigation--item"><a href="#">Sign-In</a></li>
                <li class="navigation--item"><a href="#">Register</a></li>
            </ul>
             <ul class="navigation__socialmedia">
                <li class="socialmedia--Twitter"><a href="http://www.twitter.com">Twitter</a></li>
                <li class="socialmedia--Facebook"><a href="#">Facebook</a></li>
                <li class="socialmedia--Youtube"><a href="#">Youtube</a></li>
                <li class="socialmedia--GooglePlus"><a href="#">Google Plus</a></li>
                <li class="socialmedia--LinkedIn"><a href="http://www.linkedin.com">LinkedIn</a></li>
            </ul>
            <a href="https://www.sigmaxi.org" target="_blank"><img class="sigma-logo--sm" src="img/sigma-xi-logo-sm.png" alt="Sigma XI" /></a>
        </nav>
        </div>


      <header role="banner" class="banner nav-down">
        <a href="index.html"><h1 class="banner__site-name"><span>American Scientist</span></h1></a>

        <ul class="bmenu__list">
            <li class="bmenu__item bmenu--open"><a id="simple-menu" href="#sidr" class="bmenu--open">Open navigation
            </a></li>

            <li class="bmenu__item bmenu--search"><a href="#" class="bmenu--search">Search
            </a></li>
        </ul>

            <ul class="bmenu__list bmenu--onright">
            <li class="bmenu__item bmenu--help"><a href="index-rev.html" class="bmenu--help">Help
            </a></li>

            <li class="bmenu__item bmenu--login"><a href="#" class="bmenu--login">Login
            </a></li>
          </ul>

    </header>
