////
/// @group fonts
////

// Some of the font families have to be renamed to use the proper one once we have the web font provider setup.
///
$font--body: 'Open Sans', sans-serif;
///
$font--alpha:'Roboto Slab', serif;
///
$font--beta:'Fjalla One', serif;


// calculate px to rem

@function calculateRem($size) {
  $remSize: $size / 16px;
  @return $remSize * 1rem;
}

@mixin font-size($size) {
  font-size: $size;
  font-size: calculateRem($size);
}

// Font Sizes
///


