////
/// @group fonts
////

// Some of the font families have to be renamed to use the proper one once we have the web font provider setup.
///
$font--body: 'Open Sans', sans-serif;
///
$font--alpha:'Roboto Slab', serif;
///
$font--beta:'Fjalla One', serif;

// Font Color
$black: #000000;
$white: #ffffff;
$blue: #206cd4;
$green: #229720;
$lime-green: #98D981;
$dk-green: #83bb6f;
$gray: #f1f1f1;
$md-gray: #e6e6e6;
$text-gray: #b8b8b8;
$about-gray: #eaeaea;
$blue-link: #0c77b0;

//Departments
$default--color: #151515; //About and All
$astronomy--color: #b435de;
$nightstand--color: #839772;
$environment--color: #1fa23b;

///
$body--color: $black;
$author--color: $blue;




// Font Sizes
///


