////
/// @group fonts
////

// Some of the font families have to be renamed to use the proper one once we have the web font provider setup.
///
$font--body: 'Open Sans', sans-serif;
///
$font--alpha:'Roboto Slab', serif;
///
$font--beta:'Fjalla One', serif;


//Departments
$default--color: #151515; //About and All
$astronomy--color: #b435de;
$nightstand--color: #839772;
$environment--color: #1fa23b;

///
$body--color: $black;
$author--color: $blue;




// Font Sizes
///


