html {
  -webkit-font-smoothing: antialiased;
}

/* default OS fonts */
body {
	font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif; 
}

/* fonts now loaded */
.wf-active body {
	 font-family: $font--body;
}

strong {
	font-weight: 700;
}

.copy p {
    font-family: $font--body;
	font-size: calc(.8rem + 0.3vw);
    line-height: 1.6;
    max-width: calc(56rem + 0.5vw);
    margin-bottom: 0.5rem;
    color: $body--color;
}

.indie {
	font-family: 'Indie Flower';
}


