html {
  -webkit-font-smoothing: antialiased;
  font-family: $font--body;
}

strong {
	font-weight: 700;
}

.copy p {
    font-family: $font--body;
    @include font-size(16px);
    line-height: rem(40);
    font-weight: 400;
    color: $body--color;
}


