html {
  -webkit-font-smoothing: antialiased;
}

/* default OS fonts */
body {
	font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif; 
}

/* fonts now loaded */
.wf-active body {
	 font-family: $font--body;
}

strong {
	font-weight: 700;
}

.copy p {
    font-family: $font--body;
	font-size: calc(.8rem + 0.3vw);
    line-height: 1.6;
    max-width: calc(56rem + 0.5vw);
    margin-bottom: 0.5rem;
    color: $body--color;
}

.header__alpha {
	font-family: $font--alpha;
	font-size: rem(110);
	// font-size: calc(6.5rem + 0.3vw);
	// font-size: 6.6vw;
	color: $white; 
	font-weight: 700;
	line-height: 120px;
	text-shadow: 2px 2px #000;
	margin:0;
}

.header__beta {
	font-family: $font--beta;
	margin:0;
}

.header__author {
	font-family: $font--alpha;
	color: $white;
	font-weight: 700; 
	font-size: rem(22);
	text-shadow: 2px 2px #000;
	margin: 10px 0 0 0;
}

.header__keywords {
	font-family: $font--beta;
	color: $text-gray;
	text-transform: uppercase;
	font-size: rem(20);
	text-shadow: 2px 2px #000;
	letter-spacing: 1px;
	margin-top:12px;

	span {

	}
}

.header__keywords span::after {
			content:"•";
			color: $text-gray;
			margin-left: 5px;
		
    		
		}

